.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Project files
*.env
!*.env.example

.trunk/*
!.trunk/trunk.yaml

build/*/*
!build/firmware/README.md
!build/kernel/README.md

modules/*
!modules/.gitkeep
